---
import Readme from '../../README.md';
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="日本語ダミーテキスト コレクション / Collection of Japanese Lorem Ipsum">
    <meta name="description" content="プログラムのテスト等で使える、日本語の Lorem Ipsum（ダミーテキスト）のコレクション">
    <meta name="keywords" content="ダミーテキスト,lorem ipsum">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Japanese">
    <meta name="author" content="hiiro">
    <meta name="generator" content={Astro.generator} />

    <title>日本語ダミーテキスト コレクション / Collection of Japanese Lorem Ipsum</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Google Fonts
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    -->

    <!--
        Water CSS
        https://watercss.kognise.dev/
        https://github.com/kognise/water.css
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">

    <!-- CSS Reset -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"> -->

    <!--
        Milligram CSS
        https://milligram.io/
    -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"> -->
    <!-- <link rel="stylesheet" href="/css/dark.css"> -->

    <!--
    <style media="(prefers-color-scheme: dark)" is:global>
        select:not([disabled]) {
            color: inherit;
        }
        a {
            color: #c891e9;
        }
        textarea {
            color: inherit;
        }
    </style>
    -->
    <style is:global>
        body {
            /* margin: 2.5%; */
            /* font-family: 'Roboto', "Noto Sans JP", 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
            /* font-optical-sizing: auto; */
        }
        textarea#text-area {
            max-width: 80%;
            min-height: 50vh;
            resize: none;
        }
        textarea#text-area.copy-success {
            border-style: solid;
            border-width: thin;
            border-color: lightgreen;
        }
        textarea#text-area.copy-error {
            border-style: solid;
            border-width: thin;
            border-color: red;
        }
    </style>

    <script type="module" src="/main.js"></script>
</head>
<body>
    <h1>日本語ダミーテキスト コレクション</h1>
    <h2>Collection of Japanese Lorem Ipsum</h2>
    <p>version 0.1.0</p>

    <div>
        <p>プログラムのテスト等で使える、日本語の Lorem Ipsum（ダミーテキスト）のコレクションです。各テキストは著作権フリーなので、ご自由にお使いください。</p>
    </div>

    <div>
        <ul>
            <li>
                <p>GitHub: <a href="https://github.com/m4k15y6666fk/lorem-ipsum-ja" target="_blank" rel="noopener noreferrer">https://github.com/m4k15y6666fk/lorem-ipsum-ja</a></p>
            </li>
            <li>
                <p>小説家になろう: <a href="https://ncode.syosetu.com/s9527h/" target="_blank" rel="noopener noreferrer">https://ncode.syosetu.com/s9527h/</a></p>
            </li>
        </ul>
    </div>

    <div>
        <p xmlns:cc="http://creativecommons.org/ns#" >文章はすべて <a href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0 Universal<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt=""></a> で提供されています。</p>
    </div>

    <div>
        <select name="select text" id="select-text" disabled>
            <option value="a.txt" selected>a.txt</option>
            <!-- <option value="b.txt">b.txt</option> -->
        </select>
    </div>
    <div>
        <select name="select newline" id="select-newline">
            <option value="true" selected>改行あり / with newline</option>
            <option value="false">改行なし / without newline</option>
        </select>
    </div>

    <div>
        <textarea name="text area" id="text-area">あけぼのやわらかな光が、まどろむ教室をそっとつつむ。
いつもの席に、ひとりのわたし。
視界は、窓の外の空にとどまる。
うたかたのような夢を見ていたのかもしれない。
えんぴつを手に、ノートに心の色をそっと重ねる。

隣の席にもうひとり、女の子が座る。
おもいがけず目を向ける。
かさねがさね、視線が交わり、心の距離が少しずつ縮まる。
きらめくような笑顔が、教室に満ちていた。

ささやかなぬいぐるみを、間に置いて。
それは、言葉にならない約束のようなもの。
たしかな絆を感じる間。

なにげない日常の中で、特別な出会いが芽生える。
はじめての感情が、心に静かに響く。
まるで、小さな奇跡のように。

こころの扉をそっと開けると、新しい世界が広がっていた。
わずかなひかりが、わたしたちを照らし出す。
ゆっくりと時間が流れ、言葉を交わす。
心が通じ合うのは、ふとした瞬間。

へたくそな詩を君に捧げ、せつなさを笑い飛ばす。

ひそやかな約束は、春の息吹とともに育つ。
あざやかな色彩で、世界は染まり始める。
深く、深く。
絆は、時を超えて。
</textarea>
    </div>

    <div>
        <button name="copy button" id="copy-button">コピー / copy</button>
        <button name="download button" id="download-button">ダウンロード / download</button>
    </div>

    <hr>

    <p>&#8251; 以下、<a href="https://github.com/m4k15y6666fk/lorem-ipsum-ja" target="_blank" rel="noopener noreferrer">https://github.com/m4k15y6666fk/lorem-ipsum-ja</a> より抜粋</p>

    <!-- ../README.md -->
    <Readme />
</body>
</html>
